.profile__button-edit {
  /* сбос стандартной стилизации кнопки */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #FFF;
  border-radius: 0;
  background: #000;
  background-image: url(../../../images/pen.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  min-width: 24px;
  height: 24px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity .4s linear;
}
.profile__button-edit:hover {
  opacity: .6;
}

@media screen and (max-width: 1279px) {
  .profile__button-edit {
    min-width: 18px;
    height: 18px;
    background-size: 7px 7px;
  }
}
