.button-like {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    
    min-width: 22px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../images/like.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.button-like:active {
    background-image: url(../../images/like-active.jpg);
}
