.element__button-delete {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color:initial;
  background-repeat: no-repeat;
  min-width: 18px;
  min-height: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
  background-image: url(../../../images/Group.svg);
  z-index: 0;
  opacity: 1;
  transition: opacity .4s ease;
  cursor: pointer;

}
.element__button-delete:hover {
  opacity: .5;
}
.element__button-delete:disabled {
  display: none;
}
