.button-edit {
  /* сбос стандартной стилизации кнопки */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #FFF;
  border-radius: 0;
  background: #000;
  background-image: url(../../images/pen.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .button-edit {
    min-width: 18px;
    height: 18px;
  }
}
