.popup__button-close {
  background-image: url(../../../images/ave-maria.svg);
  width: 32px;
  height: 32px;
  background-size: cover;
  border: none;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: opacity .4s ease;
}
.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 1279px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -38px
  }
}
