@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__row/profile__row.css);
@import url(../blocks/profile/__column/profile__column.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__button-plus/profile__button-plus.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__photo/element__photo.css);
@import url(../blocks/element/__row/element__row.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__button-like/element__button-like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__edit/popup__edit.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup-edit/popup-edit.css);
@import url(../blocks/element/__button-like/_active/element__button-like_active.css);
@import url(../blocks/element/__button-delete/element__button-delete.css);
@import url(../blocks/popup-full-screen/popup-full-screen.css);
@import url(../blocks/popup-full-screen/__figure/popup-full-screen__figure.css);
@import url(../blocks/popup-full-screen/__photo/popup-full-screen__photo.css);
@import url(../blocks/popup-full-screen/__description/popup-full-screen__description.css);
@import url(../blocks/card/card.css);
@import url(../blocks/popup/__button/_disabled/popup__butoon_disabled.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../blocks/popup/__error/popup__error.css);
